<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/confluence.png">
  <link rel="icon" type="image/png" href="../static/img/confluence.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Prototipo de home page Proponente
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/paper-kit.css?v=2.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/css/demo.css" rel="stylesheet" />
  <link href="../static/css/demo.css" rel="stylesheet" >
</head>

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/principal" rel="tooltip" title="Diseñado por UAO TEAM" data-placement="bottom2">
          Colaborador - {{ data2['nombre'] }}
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="navbar-brand" href="#" rel="tooltip" title="Ver mis colaboraciones" data-placement="bottom2">
              Mis colaboraciones
            </a>
          </li>
          
          <li class="nav-item">
            <a href="../templates/login.html"  class="btn btn-danger btn-round">Donar</a>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-outline-success my-sm-0 my-sm-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi Cuenta
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Información Personal</a>
          <li class="divider"></li>
          <a class="dropdown-item" href="/logout">Cerrar sesión</a>
        </div>
      </div>

    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header section-dark" style="background-image: url('../static/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Green & Cultural</h1>
          <h2 class="presentation-title">Project</h2>
          <div class="fog-low">
            <img src="../static/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="../static/img/fog-low.png" alt="">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center">Unidos para crear un lugar mejor</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('../static/img/clouds.png'); "></div>
    <h6 class="category category-absolute">Diseñado por UAO Team.
    </h6>
  </div>

  <div class="main">
    <div id="images">
      <div class="container">
        <div class="title">
          <h1 class="text-center">Sé parte del cambio</h1>
        </div>
        <div class="row">
          {% for item in data %}
          <div class="col-sm-6 col-md-4 mt-4">
            <img src="../static/img//inicio_cajas/1.jpg" class="img-rounded img-responsive" alt="Rounded Image">
            <div class="img-details">
              <div class="author">
                <img src="../static/img/faces/{{ item['id'] % 6 }}.jpg" alt="Circle Image"
                  class="img-circle img-no-padding img-responsive">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p>{{item['nombre_proyecto'] }}</p><br>
                <div class="btn-group" style="margin-bottom: 10px; ">
                  <a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v={{item['url_video']}}" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-camera-video" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z">
                      </path>
                    </svg>
                    Ver vídeo
                  </a>
                </div>
                <div class="btn-group" style="margin-bottom: 10px; ">
                  <a class="btn btn-primary btn-sm" href="/infoproyecto/{{item['id']}}" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-camera-video" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z">
                      </path>
                    </svg>
                    Ver información
                  </a>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div style="margin-top: 7px;">
                <p style="text-align: justify;">{{ item['descripcion'] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="section section-dark section-nucleo-icons" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Ayuda a tu ciudad</h2>
            <br/>
            <p class="description">
            Usa nuestra plataforma para ayudar a tu ciudad a mejorar. Con ideas y proyectos que promueban la cultura y la conservacion del medio ambiente 
            </p>
            <br/>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="icons-container">
              <i class="nc-icon nc-time-alarm"></i>
              <i class="nc-icon nc-atom"></i>
              <i class="nc-icon nc-camera-compact"></i>
              <i class="nc-icon nc-watch-time"></i>
              <i class="nc-icon nc-key-25"></i>
              <i class="nc-icon nc-diamond"></i>
              <i class="nc-icon nc-user-run"></i>
              <i class="nc-icon nc-layout-11"></i>
              <i class="nc-icon nc-badge"></i>
              <i class="nc-icon nc-bulb-63"></i>
              <i class="nc-icon nc-favourite-28"></i>
              <i class="nc-icon nc-planet"></i>
              <i class="nc-icon nc-tie-bow"></i>
              <i class="nc-icon nc-zoom-split"></i>
              <i class="nc-icon nc-cloud-download-93"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!----->
    <footer class="footer footer-black  footer-white ">
      <div class="footer text-center footer-register">
        <p>Por un futuro en el que los humanos vivan en armonía con la naturaleza y en cultura</p>
        <div class="text-center col-md-12 col-lg-12">
          <a href="#" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!" style="margin-right: 5px;">
            <i class="fa fa-twitter"></i> Twitter
          </a>
          <a href="#" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
            <i class="fa fa-google-plus"></i> Google
          </a>
          <a href="#" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!" style="margin-left: 5px;">
            <i class="fa fa-facebook-square"></i> Facebook
          </a>
        </div>
        <p style="margin-top: 8px;">Creado por UAO Team</p>
      </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../static/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../static/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="../static/js/plugins/moment.min.js"></script>
    <script src="../static/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script src="../static/js/paper-kit.js?v=2.2.0" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script>
      $(document).ready(function() {

        if ($("#datetimepicker").length != 0) {
          $('#datetimepicker').datetimepicker({
            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
            }
          });
        }

        function scrollToDownload() {

          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      });
    </script>
</body>
</html>
