.footer-register {
    background-color: #527B39;
    border: black 1px solid;
    color: #FFFFFF;
    padding: 20px;
}

.ip-c {
    background-color: #EAEBF6;
}

.rimg {
    padding: 35px;
}

.btn-c {
    background-color: #FFFFFF;
    color: black;
}